body{
  padding-top: 80px;
  padding-left: 95px;
  padding-right: 24px;
  background-color: rgb(248, 248, 248);
  height: 3000px;
}

div{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

body{
  margin: 0;
}

.thumbnail{
  width: 100%;
}

.thumbnail-row{
  position: relative;
}

.video-time{
  position: absolute;
  right: 8px;
  bottom:9px;
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 2px;
}

.total{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
}

.information{
  margin-top: 15px;
  display: grid;
  grid-template-columns: 35px 1fr;
  column-gap: 20px;  
}

.profile-pic{
  width: 100%;
  border-radius: 50px;
  
}
.profile-picture-container{
  position: relative;
}

.profile-picture-container:hover .channel-tooltip{
  opacity: 1;
}

.channel-tooltip{
  display: flex;
  align-items: center;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  padding: 12px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  top: 50px;
}

.channel-tooltip img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 8px;
}
.channel-tooltip p{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.title{
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
}

.author,.stats{
  color: grey;
  line-height: 5px;
  font-size: 12px;
}

.video-preview{
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}
 
.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(220, 229, 229);
  z-index: 100;
}
@media(max-width:1200px){
.sidebar{
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 75px;
  z-index: 200;
  padding-top: 5px;
}
.sidebar-link{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.sidebar-link:hover{
  background-color: rgb(209, 206, 206);
}
.sidebar-link img{
  height: 24px;
  margin-bottom: 4px;
}
.sidebar-link div{
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
}
.left-section{
  display: flex;
  align-items: center;

}
.hamburger-menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}
.youtube-logo{
  height: 20px;
}
.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  display: flex;
  max-width: 500px;
  align-items: center;
}
.search-bar{
  flex: 1;
  height: 36px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 4px rgba(0,0,0,0.1 );
  font-size: 16px;
  padding-left: 10px;
  width: 0;
}
.search-bar::placeholder{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-left: 10px;
}
.search-button{
  height: 40px;
  width: 66px;
  margin-left: -1px;
  background-color: rgb(232, 232, 232);
  border: 1px solid rgb(192, 192, 192);
  margin-right: 10px;
}
.search-button .tooltip,
 .voice-search-button .tooltip,
 .upload-icon-container .tooltip,
 .youtube-apps-container .tooltip,
 .notifications-icon-container .tooltip{
  position: absolute;
  background-color: grey;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 3px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
  opacity: 1;
}
.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-container,
.notifications-icon-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
   
}

.voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb( 245,245,245);
}
.search-icon{
  height: 25px;

}
.voice-search-icon{
  height: 25px;

}
.right-section{
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0 ;
}
.upload-icon{
  height: 24px;
}
.youtube-apps-icon{
  height: 24px;
}
.notifications-icon-container{
  position: relative;
}
.notifications-count{
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 11px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}
.notifications-icon{
  height: 24px;
}
.current-user-picture{
  height: 33px;
  border-radius: 16px;
}
.video-title-link{
  color: black;
  text-decoration:none;
}

@media(max-width:800px){
  .total{
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
    line-height: 16px;
  }
}

@media(min-width:801px) and (max-width:1999px){
  .total{
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 18px;
  }
}

@media(min-width:1200px){
  .total{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 20px;
  }
  .title{
    font-size: 16px;
    line-height: 24px;
  }
  .author,.stats{
    font-size: 14px;
  }
}



@media(min-width:1200px){
  .sidebar{
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 175px;
    z-index: 200;
    padding-top: 5px;
    padding-left:20px;
  }
  .sidebar-link{
    height: 40px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

  }
  .sidebar-link:hover{
    background-color: rgb(209, 206, 206);
  }
  .sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
    margin-right: 20px;
    
  }
  .sidebar-link div{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  body{
    margin-left:130px;
  }
  }
